$height: 35rem;
$width: 45rem; 

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.exp_container{
  width: $width;
  height: $height;
  background-color: #f3f3f3;
  color: #282c34;
  border-radius: 5px;
  padding: 1rem 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  .top{
    flex-grow: 1;
    height: $height - 5rem;
    overflow-y: scroll;
    margin-bottom: 15px;
    border: 2.5px solid #282c34;
    padding: 3px;
  }
  .bottom{
    height: 4.5rem;
    .buttons{
      display: flex;
      gap: 1rem;
      justify-content: center;
      margin-bottom: 20px;
    }
  }
}

.instructions-view{
  h1{
    margin-bottom: 2rem;
  }
  p{
    font-size: 1.5rem;
    text-align: left;
  }
}


.attention-check{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .checklist{
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    width: fit-content;
    span{
      text-align: left;
      input{
        margin-right: .4rem;
        transform: scale(1.34);
      }
    }
  }
}

.game-view{
  display: flex;
  flex-direction: column;
  height: 100%;
  .players{
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    flex-grow: 1;
    .col {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .player-card{
        border: 3px solid #282c34;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem 2rem;
        width: 15rem;
        height: 6rem;
        border-radius: 5px;

        .choise-status{
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

  .buttons{
    button{
      margin: 20px;
    }
  }

  .floating-timer {
    position: absolute;
    bottom: 45%;
    left: 50%;
    transform: translate(-50%);
    width: 10rem;
    div, span{
      width: 8rem;
      margin: auto;

      h2{
        text-align: center;
        width: 8rem;
      }
    }
  }
}


.green-circle{
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: green;
}