$container-height: 35rem;
$container-width: 45rem; 

html {
  font-size: 18px;
}

button {
  color: rgb(61, 143, 210);
  padding: .3rem .6rem;
  border-radius: 6px !important;
  background-color: #e5e5e5;
  border: 2px solid #fff;
  
  &:disabled {
    background-color: #f1f1f1;
    color: #d1d1d1;
    cursor: auto;

  }
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.exp_container{
  width: $container-width;
  height: $container-height;
  background-color: #f3f3f3;
  color: #282c34;
  border-radius: 5px;
  padding: 1rem 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  .top{
    flex-grow: 1;
    height: $container-height - 5rem;
    overflow-y: scroll;
    margin-bottom: 15px;
    border: 2.5px solid #282c34;
    padding: 3px;
  }
  .bottom{
    height: 4.5rem;
    .buttons{
      display: flex;
      gap: 1rem;
      justify-content: center;
      margin-bottom: 20px;
    }
  }
}

.instructions-view{
  h1{
    margin-bottom: 2rem;
  }
  p{
    font-size: 1.5rem;
    text-align: left;
  }
}


.attention-check{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .checklist{
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    width: fit-content;
    span{
      text-align: left;
      input{
        margin-right: .4rem;
        transform: scale(1.34);
      }
    }
  }
}

.game-view{
  display: flex;
  flex-direction: column;
  height: 100%;
  .players{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 1.65rem 0;
    flex-grow: 1;
    overflow: hidden;
    
    .player_row {
      position: relative;
      height: fit-content;
      display: flex;
      justify-content: center;
      .choise-result-slider{
        h2{
          font-size: 1.2rem;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: bolder;
        animation-duration: 1.25s;
        animation-fill-mode: forwards;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }

      .slide-bottom {
        animation-name: animate-bottom;
        flex-direction: column-reverse;

        @keyframes animate-bottom {
          0%   {bottom: -20px;}
          100% {bottom: -6rem;}
        }
      }
      .slide-top {
        animation-name: animate-top;
        @keyframes animate-top {
          0%   {bottom: 20px;}
          100% {bottom: 6rem;}
        }
      }

    }
    .player-card{
        position: relative;
        border: 3px solid #282c34;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: .3rem .6rem;
        width: 12rem;
        height: 4rem;
        border-radius: 5px;

        h3{
          font-size: 1.4rem;
        }

        .choise-status{
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .wallet {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          color: white;
          top: 0;
          left: 0;
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
          transform: translate(-50%, -50%);
          background-color: rgba(#282c34, 0.72);
          font-size: 1.23rem;
          &.small {
            font-size: .95rem;
          }
        }
      }
    }

  .buttons{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    button{
      margin: 20px;
    }
  }

  .floating-timer {
    // position: absolute;
    // bottom: 45%;
    // left: 50%;
    // transform: translate(-50%);
    width: 6rem;
    div, span{
      // width: 8rem;
      // margin: auto;

      h2{
        text-align: center;
        // width: 8rem;
      }
    }
  }

  
  
}

.finishedset_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.finishedset_container .icon {
  font-size: 4.5em;
  color: #0f0;
}

.pregame-count {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  div {
    animation-name: countdown;
    font-weight: bolder;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 4;
    @keyframes countdown {
      0%   {transform: scale(0);}
      40% {transform: scale(4);}
      100% {transform: scale(0);}
    }
  }
}

.dictator-game-container{
  .range-input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .text-input{
    width: 2.4rem !important;
    text-align: center;
    border: none;
    border-bottom: 3px solid #282c34;
    background-color: transparent;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type=number] {
      -moz-appearance: textfield;
    }
  }
}

.general-questions{
  .questions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    span{
      label{
        display: inline;
      }
      select{
        margin-left: 2rem;
        margin-top: .5rem;
      }
    }
  }
  label{
    font-weight: 600;
  }
  textarea{
    width: 25rem;
    height: 9rem;
  }
}

.status-circle{
  width: 18px;
  height: 18px;
  border-radius: 50%;
  &.gray{
    background-color: #282c34;
  }
  &.blue {
    background-color: rgb(81, 188, 255);
  }
}

.mobile-warning{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  h1{
    text-align: center;
  }
}